# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.class

# Jupyter
.ipynb_checkpoints
predictions for Vadim.ipynb

# History files
.Rhistory

# Session Data files
.RData
.log

# Large files
output/
data/

.Rproj.user
R_code.Rproj
.gitignore
Untitled*
