# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints
predictions for Vadim.ipynb

# History files
.Rhistory

# Session Data files
.RData

# Large files
output/
data/uniprot_sprot.fasta
data/HLA-B2705.csv
data/bdata.2009.tsv
data/blind.tsv
data/UP000005640_9606.fasta

